[submodule "lib/SDL_GUI"]
	path = ext/SDL_GUI
	url = git@github.com:manuelthieme/SDL_GUI.git
[submodule "lib/wykobi"]
	path = ext/wykobi
	url = https://github.com/ArashPartow/wykobi
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
